html{
    background: radial-gradient(circle, #fff, #ccc);
}
body{
	position: relative;
}
.outermost{
	height: 90%;
	position: absolute;
	top: 4%;
	left: 4.5%;
	width: 90%;
    background-color: #9DD2EA;
}

.time_left{
	height: 7%;
    margin-top: 3%;
    margin-left: 4%;
    line-height: 41px;
    padding: 2%;
    background-color: rgb(181,235,36);
    opacity: 0.8;
}

.score{
	position: absolute;
    right: 5%;
    width: 200px;
    height: 7%;
    margin-top: 3%;
    margin-left: 4%;
    line-height: 41px;
    background-color: #f1ff92;
    color: #888ef5;
    font-weight: bold;
}

.question_container{
	position: absolute;
    top: 18%;
    width: 80%;
    left: 10%;
    height: 37%;
    background-color: #9da0ea;
}

.question{
	font-size: 10em;
    font-family: cursive,sans-serif;
}

.choose_correct{
    position: absolute;
    top: 57%;
    width: 80%;
    height: 7%;
    left: 10%;
    background-color: #b481d9;

}

.options{
	height: 22%;
    width: 80%;
    position: absolute;
    top: 67%;
    left: 11.5%;
}

.options li{
	width: 20%;
	margin-right: 5%;
	padding: 0;
	cursor: pointer;
    background-color: white;
}

.options li:hover{
	transform: translateY(5px);
}

#last_option{
	margin-right: 0 !important;
}

.options li md-whiteframe{
	height: 100px;
}

#start_button_content{
	margin-left: 37%;
    background-color: #9DD2EA;
    height: 48px;
    position: absolute;
    top: 90%;
}

.start_game_button{
	min-width: 250px;
    background-color: rgba(255,255,255,0.5);
}

.game_over{
	z-index: 9999;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 27%;
    height: 50%;
    background: linear-gradient(#f3ca6b, #f3706c);
}

.game_over1{
	position: absolute;
	top: 10%;
	font-size: 5em;
    color: white;

}

.game_over2{
	font-size: 5em;
	position: absolute;
	top: 45%;
    color: white;

}

#option1, #option2, #option3, #option4{
	font-size: 2.5em;
}

.change{
	position: initial;

}

.range{
	position: absolute;
	bottom: -8%;
	right: 163px;
	margin-bottom: 1%;
	cursor: pointer;
	color: blue;
}

.time{
	position: absolute;
	bottom: -8%;
	right: 0;
	margin-bottom: 1%;
	cursor: pointer;
	color: blue;
	letter-spacing: 0.6px;
}

/*Mobile devices*/
@media(max-width: 480px){
	.outermost{
		width: 94%;
		top: 3%;
		left: 2.5%;
	}
     .time_left{
     	margin-top: 6%;
     	margin-left: 7%;
     	padding: 2%;
     	height: 7.5%;
     }
     .score{
     	margin-top: 6%;
     	width: 110px;
        right: 10%;
     }
     .question {
      font-size: 7em;
     }
     .question_container{
     	top: 15%;
     	height: 29%;
     }
     .choose_correct{
     	top: 46%;
     }
     .options{
     	top: 57%;
     }
     .options li{
     	width: 46%;
     	margin-bottom: 5%;
     }
     .options li md-whiteframe{
     	height: 63px;
     }
     .no_right_margin_option{
	margin-right: 0 !important;
    }
     #start_button_content{
     	margin-left: 25%;
     	top: 88%;
     }
     .start_game_button{
     	min-width: 150px;
     }
     .change{
     	position: initial;
     }
     .range{
     	margin-bottom: 2%;
     	position: absolute;
     	bottom: -8%;
     	left: 3%;
     }
     .time{
     	margin-bottom: 2%;
     	position: absolute;
     	bottom: -8%;
     	right: 3%;
     }
     .game_over1{
	position: absolute;
	top: 10%;
	font-size: 3em;
    }

    .game_over2{
	font-size: 2.8em;
	position: absolute;
	top: 37%;
	text-align: center;
    }
}

@media (max-width: 380px){
	.time, .range{
		font-size: 0.9em;
	}
}
@media(max-width:992px){
  .options li:hover{
  	transform: translateY(0px);
  }
  #option1, #option2, #option3, #option4{
  	font-size: 2em;
  }
}
