<!doctype html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
	<title>Maths Game</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body ng-app = "mathsGame">

  <md-whiteframe class="md-whiteframe-5dp container outermost" layout >

    <!--Game Over -->
    <md-whiteframe class="md-whiteframe-3dp game_over hidden"  layout layout-align="center center">
      <h1 class="game_over1">GAME OVER</h1>
      <h1 class="game_over2">YOUR SCORE IS <span class="score_value">0</span></h1>
    </md-whiteframe>
    <!--Game Over -->

    <!--Time Left -->
    <md-whiteframe class="md-whiteframe-1dp time_left hidden" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>Time left :&nbsp;<span id="time_value">60 sec</span></span>
    </md-whiteframe>
    <!--Time Left -->

    <!--Score -->
    <md-whiteframe class="md-whiteframe-1dp score" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
      <span>Score :&nbsp;<span class="score_value">0</span></span>
    </md-whiteframe>
    <!--Score -->

    <!--Question -->
    <md-whiteframe class="md-whiteframe-3dp question_container"  layout layout-align="center center">
      <span class="question"><span class="multiplicand">6</span><span class="multiplication">&nbsp;X&nbsp;</span><span class="multiplier">7</span></span>
    </md-whiteframe>
    <!--Question -->

    <!--choose Coorect option -->
    <md-whiteframe class="md-whiteframe-2dp choose_correct"  layout layout-align="center center">
      <span>Choose the correct answer</span>
    </md-whiteframe>
    <!--choose Coorect option -->

    <!-- Options -->
    <div class="options">
      <ul type="none" class="list-inline">

        <li>
          <md-whiteframe class="md-whiteframe-3dp option1"  layout layout-align="center center">
      <span id="option1">30</span>
    </md-whiteframe>
        </li>
        <li class="no_right_margin_option">
          <md-whiteframe class="md-whiteframe-3dp option2"  layout layout-align="center center">
      <span id="option2">58</span>
    </md-whiteframe>

        </li>
        <li>
          <md-whiteframe class="md-whiteframe-3dp option3"  layout layout-align="center center">
      <span id="option3">42</span>
    </md-whiteframe>

        </li>
        <li class="no_right_margin_option" id="last_option">
          <md-whiteframe class="md-whiteframe-3dp option4"  layout layout-align="center center">
      <span id="option4">48</span>
    </md-whiteframe>

        </li>
      </ul>
    </div>
    <!-- Options -->

    <!-- Start Button -->
    <md-content id= "start_button_content">
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised md-primary start_game_button">Start Game</md-button>
    </section>
    </md-content>
    <!-- Start Button -->

   <div class="change"ng-controller = "Change" >
    <p class="range" ng-click="range($event)">Change range of tables?</p>
    <p class="time" ng-click="time($event)">Change time duration?</p>
   </div>


  </md-whiteframe>




  <!--Script FIles included here -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src = "js/main.js"></script>
  <!--Script FIles included here -->
  <script >
	// angular.module('mathsGame',['ngMaterial'])
  // .controller('Change', function ($scope, $mdDialog) {
  //          $scope.range = function(ev) {
  //              $mdDialog.show({
  //                  controller: DialogController,
  //                  templateUrl: 'templates/changeRange.html',
  //                  parent: angular.element(document.body),
  //                  targetEvent: ev,
  //                  clickOutsideToClose:true// Only for -xs, -sm breakpoints.
  //              })
  //
  //          };
  //
  //          $scope.time = function(ev) {
  //              $mdDialog.show({
  //                  controller: DialogController,
  //                  templateUrl: 'templates/changeTime.html',
  //                  parent: angular.element(document.body),
  //                  targetEvent: ev,
  //                  clickOutsideToClose:true// Only for -xs, -sm breakpoints.
  //              })
  //
  //          };
  //
  //          function DialogController($scope, $mdDialog) {
  //              $scope.close = function() {
  //                  $mdDialog.cancel();
  //              };
  //              $scope.cancel = function() {
  //                  $mdDialog.cancel();
  //              };
  //              $scope.confirmRange = function() {
  //                  console.log($scope.startNumber, $scope.endNumber);
  //                  $scope.close();
  //              }
  //              $scope.confirmTime = function() {
  //                  console.log($scope.time);
  //                  sessionStorage.time = $scope.time;
  //                  console.log(sessionStorage.time);
  //                  $scope.close();
  //
  //              }
  //
  //          }
  //      });
</script>
</body>

</html>
